$primaryColor: #924FE0;
$secondaryColor: #5A6AFF;
$backgroundColor: #F3F3F3;
$surfaceColor: #FFFFFF;

$onPrimaryColor: #FFFFFF;
$onSecondaryColor: #FFFFFF;
$onBackgroundColor: #222222;
$onSurfaceColor: #222222;

$dividerColor: rgba(0, 0, 0, 0.12);

$unit: 8.33333vw;

$mwLarge: 1660px;
$mwMedium: 1480px;
$mwNormal: 1260px;
$mwSmall: 1100px;

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Rubik:700);

@mixin default-box-shadow() {
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);
}

@mixin default-box-shadow-hover() {
  box-shadow: 0 4px 80px rgba(0, 0, 0, 0.25);
}

.text-color-primary {
  color: $primaryColor;
}

.text-color-secondary {
  color: $secondaryColor;
}

.text-color-on-primary {
  color: $onPrimaryColor;
}

.text-color-on-secondary {
  color: $onSecondaryColor;
}

.text-color-on-background {
  color: $onBackgroundColor;
}

.text-color-on-surface {
  color: $onSurfaceColor;
}